<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title th:inline="text">[[${@applicationName}]] | Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="layout :: header">
    NAVBAR PLACEHOLDER
</div>
<div class="container">
    <div class="content">
        <div class="card">
            <h4 class="card-header text-center">Update task</h4>
            <div class="card-body">
                <form th:action="@{/dashboard/tasks/edit/{id}(id=${task.id})}" th:object="${task}" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" id="name">
                        <div th:if="${#fields.errors('name')}" th:errors="*{name}" class="invalid-feedback">
                            Name error
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dueDate">Due date</label>
                        <input type="date" th:field="*{dueDate}" class="form-control" th:classappend="${#fields.hasErrors('dueDate')} ? 'is-invalid'" id="dueDate">
                        <div th:if="${#fields.errors('dueDate')}" th:errors="*{dueDate}" class="invalid-feedback">
                            Due date error
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea rows="3" th:field="*{description}" class="form-control" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" id="description"></textarea>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" th:field="*{assignToMe}" class="form-check-input" id="assignToMe">
                        <label for="assignToMe" class="form-check-label">Assign to me</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-nav">Add</button>
                        <a th:href="@{/dashboard/tasks}" class="btn btn-secondary btn-nav">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: javascript">
    JAVASCRIPT PLACEHOLDER
</div>
</body>
</html>
